<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Costing Types Entry</title>
    <script src="angular/angular.js"></script>
    <script src="app/costTypes.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/custom-style.css">

</head>
<body ng-app="costingTypesEntry">
<h3>Costing Category Entry</h3>
<div ng-controller="CostingTypesController as costingTypesEntryCtrl">
    <form class="form-horizontal">
        <div class="form-group row">
            <label class="control-label col-sm-4">Costing Types Name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="costingTypesEntryCtrl.costingTypesModel.costingName">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <button type="button" class="btn btn-primary"
                        ng-click="costingTypesEntryCtrl.saveCostingTypes(costingTypesEntryCtrl.costingTypesModel)"
                        ng-disabled="form.$invalid">
                    {{!costingTypesEntryCtrl.costingTypesModel.id ? 'Save' : 'Update'}} &nbsp; <i
                        class="fa fa-floppy-o"/></i>
                </button>
            </div>
        </div>
    </form>
    <!-- <table class="table table-hover table-bordered black">
         <thead>
         <tr>
             <th>No.</th>
             <th>Student Name</th>
             <th>Roll No.</th>
             <th>Class Name</th>
             <th>Action</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="stdList in stdCtr.studentList">
             <td>{{$index+1}}</td>
             <td>{{stdList.name}}</td>
             <td> {{stdList.roll}}</td>
             <td> {{stdList.className}}</td>
             <td>
                 <button type="button" ng-click="stdCtr.update(stdList.id)" class="btn btn-info ">Edit</button>
                 <button type="button" ng-click="stdCtr.removeStudent(stdList.id)" class="btn btn-danger ">Inactive
                 </button>
             </td>
         </tr>
         </tbody>
     </table>-->
</div>
</body>
</html>