.module {
    display: inline-block;
    padding: 15px 0px;

    height: 120px;
    width: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    word-wrap: break-word;
    color: #000;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    background-color: #eee;
    vertical-align: middle;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;

}

.module:hover {
    color: green;
    font-family: arial;
    font-weight: bold;
    box-shadow: 1px 5px 8px 2px #4C6E91;
}
