<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular/angular.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body ng-app="">
<div class="jumbotron text-center">
    <div class="container">
        <a href="/mealEntry">
            <div class="col-sm-4 module">
                <h3>Meal Entry</h3>
            </div>
        </a>
        <a href="/purchase">
            <div class="col-sm-4 module">
                <h3>Cost Entry</h3>
            </div>
        </a>
        <a href="/payment">
            <div class="col-sm-4 module">
                <h3>Payment Entry</h3>
            </div>
        </a>
        <a href="/costingTypes">
            <div class="col-sm-4 module">
                <h3>Costing Types Entry</h3>
            </div>
        </a>
    </div>
</div>
</body>
</html>