<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Entry</title>
    <script src="angular/angular.js"></script>
    <script src="app/payment.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>
<body ng-app="payment">
<div ng-controller="PaymentController as paymentCtrl">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Payment Date:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" ng-model="paymentCtrl.paymentModel.paymentDate">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Payment Person:</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="paymentCtrl.paymentModel.paymentBy"
                        ng-options="user.name  for  user in paymentCtrl.userList">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Payment Amount:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="paymentCtrl.paymentModel.paymentMoney">
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="paymentCtrl.savePayment(paymentCtrl.paymentModel)"
                    ng-disabled="form.$invalid">
                {{!paymentCtrl.paymentModel.id ? 'Save' : 'Update'}} &nbsp; <i class="fa fa-floppy-o"/></i>
            </button>
        </div>
    </form>
    <!-- <table class="table table-hover table-bordered black">
         <thead>
         <tr>
             <th>No.</th>
             <th>Student Name</th>
             <th>Roll No.</th>
             <th>Class Name</th>
             <th>Action</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="stdList in stdCtr.studentList">
             <td>{{$index+1}}</td>
             <td>{{stdList.name}}</td>
             <td> {{stdList.roll}}</td>
             <td> {{stdList.className}}</td>
             <td>
                 <button type="button" ng-click="stdCtr.update(stdList.id)" class="btn btn-info ">Edit</button>
                 <button type="button" ng-click="stdCtr.removeStudent(stdList.id)" class="btn btn-danger ">Inactive
                 </button>
             </td>
         </tr>
         </tbody>
     </table>-->
</div>
</body>
</html>